<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user pages</h1>
    <h1>name:<%=dipesh.name %></h1>
    <p>roll number:<%=dipesh.roll %></p>
    <h2>color:<%=dipesh.color%></p></h2>
   <% if (dipesh.age < 18) { %>
    <h2><%= "vote nahi de sakta" %></h2>
<% } else { %>
    <h2><%= "vote de sakta" %></h2>
<% } %>
<ul>
  <% for (let i = 1; i <= 50; i++) { %>
    <li><%= i %></li>
  <% } %>
</ul>
</body>
</html>